<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fc0f74e5-ad64-4608-af91-495f3572da29/resourceGroups/PMKB/providers/Microsoft.Web/sites/pmkb-bot</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://pmkb-bot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>pmkb-bot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pmkb-bot</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pmkb-bot</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>